<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.itsraining.raining-at-home-tweet</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/adam/.virtualenvs/itsraining/bin/python</string>
        <string>/Users/adam/dev/itsraining/tweet_alerts.py</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
</dict>
</plist>